<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <style>
        .hot{
            background-color:green;
        }
        .board{
            background-color:black;
        }
    </style>
</head>
<body>
    <button>profile</button><button>post</button>
    <div>
        <input title>
<!--        이미지 넣기-->
        <button>post</button>
        <button>cancel</button>
    </div>
    <div>
        <div class="hot">hot post</div>
        <div  class="board">
            main board
            <p>개시물 영역</p>
        </div>

    </div>
</body>
</html>